<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scraps.GUI.Properties.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scraps.GUI.Properties.UserConfig>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Paranoid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncrementScanDelay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToastNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanDelay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PaginateDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="JoinDelay" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="SortByNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendWebhooks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebhookUrl" serializeAs="String">
                <value />
            </setting>
        </Scraps.GUI.Properties.UserConfig>
    </userSettings>
</configuration>